@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: 添加到 tailwind.config.cjs */
.scroll-container {
  scroll-behavior: smooth;
}


/* 全屏动画 */
/* .test-search { 
  transform-origin: 50vw 50vh;
  transform: perspective(1000px) translate3d(0, 50vh, 0) rotateX(30deg);
  pointer-events: none;
} */
